.blog-page .inner-box {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
.blog-page .inner-box .blog-wrapper {
  width: 75%;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card {
  text-transform: unset;
  font-weight: normal;
  text-transform: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(233, 233, 233, 0.5);
}
.blog-page .inner-box .blog-wrapper .blog-cards .card .blog-pic {
  overflow: hidden;
  height: 540px;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card .blog-pic img {
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card .content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card h4 {
  margin: 15px 0;
  line-height: 2rem;
  font-size: 24px;
  font-weight: 600;
  color: #323333;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card h4 span {
  margin: 0 10px;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card h6 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: normal;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card h6 span {
  margin: 0 10px;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card .tags {
  display: flex;
  gap: 10px;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card .tags li {
  padding: 6px;
  border-radius: 3px;
  border: solid 1px #323333;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card p {
  opacity: 1;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card img {
  width: 100%;
  height: 100%;
}
.blog-page .inner-box .blog-wrapper .blog-cards .card .more-btn {
  width: 150px;
  align-self: flex-end;
}
.blog-page .inner-box .blog-wrapper .navigation {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.blog-page .inner-box .blog-wrapper .navigation span {
  cursor: pointer;
}
.blog-page .inner-box .blog-wrapper .navigation .disabled {
  cursor: unset;
}
.blog-page .inner-box .blog-wrapper .navigation .disabled svg {
  opacity: 0.5;
}
.blog-page .inner-box .blog-wrapper .navigation .num {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.blog-page .inner-box .blog-wrapper .navigation .num span {
  font-weight: bold;
  padding: 8px 18px;
}
.blog-page .inner-box .blog-wrapper .navigation .num span.active {
  border-radius: 3px;
  color: #fff;
  background-color: #ffde0a;
}
.blog-page .inner-box .blog-wrapper.detail-wrapper .blog-cards .card p {
  margin: 3rem 0;
  overflow: unset;
  overflow-wrap: normal;
  text-overflow: unset;
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}
.blog-page .inner-box .category-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog-page .inner-box .category-wrapper .filter {
  padding: 1.5rem;
  background-color: rgba(233, 233, 233, 0.5);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-page .inner-box .category-wrapper .filter input {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
}
.blog-page .inner-box .category-wrapper .type-category.type li {
  display: block;
}
.blog-page .inner-box .category-wrapper .type {
  padding: 1.5rem;
  background-color: rgba(233, 233, 233, 0.5);
  border-radius: 12px;
}
.blog-page .inner-box .category-wrapper .type .subtitle {
  font-weight: 500;
  font-size: 1.25rem;
}
.blog-page .inner-box .category-wrapper .type hr {
  margin: 1.5rem 0;
}
.blog-page .inner-box .category-wrapper .type li {
  margin: 1rem 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.blog-page .inner-box .category-wrapper .type li .pic {
  width: 40%;
  height: auto;
}
.blog-page .inner-box .category-wrapper .type li .pic img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-page .inner-box .category-wrapper .type li .info {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.blog-page .inner-box .category-wrapper .type li .info .time {
  color: #323333;
  font-size: 0.75rem;
}
.blog-page .inner-box .category-wrapper .type li .info .name {
  line-height: 1.25;
  letter-spacing: 1px;
  font-weight: 500;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog-page .inner-box .category-wrapper .tags-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blog-page .inner-box .category-wrapper .tags-box li {
  color: #323333;
  padding: 6px;
  background-color: rgba(233, 233, 233, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .blog-page .inner-box .category-wrapper .type li {
    display: block;
  }
  .blog-page .inner-box .category-wrapper .type li .pic {
    width: 100%;
  }
  .blog-page .inner-box .category-wrapper .type li .info {
    width: 100%;
  }
  .blog-page .inner-box {
    display: block;
  }
  .blog-page .inner-box .blog-wrapper {
    width: 100%;
  }
  .blog-page .inner-box .category-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .blog-page .inner-box .blog-wrapper .blog-cards .card h4 {
    font-size: 20px;
  }
}/*# sourceMappingURL=blog.css.map */